@media screen and (max-width: 780px) {
    
    .navbar{
        position: absolute;
        left: 0;
        top: 0.8in; 
        width: 30%;
        transition: transform 1s ease-in-out, opacity .6s ease-in-out;
        z-index: 100;
        /* opacity: 1; */
    }
    .slide-in{
        transform: translateX(0);
        opacity: 1;
    }
    .slide-out{
        
        transform: translateX(100%);
        opacity: 0;    
    }
}
